/* default slide styles */

:root {
	--primary: black;
	--primary-low: black;
}

* {
	user-select: none;
}

h1,
h2,
h3,
h4,
h5,
span,
p,
a {
	border: none;
	color: black;
	text-decoration: none;
}

/* undo dark mode color invert */

@media (prefers-color-scheme: dark) {
	* {
		background-color: initial;
	}
	html,
	img:not([src$=".svg"]) {
		filter: invert(0) hue-rotate(0deg) !important;
	}
}

/* add extra styles */

slide * {
	position: absolute;
}

group {
	display: grid;
}
